{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-console": "off"
  },
  "env": {
    "browser": true
  },
  "settings": {
    "react": {
      "version": "17"
    }
  }
}
